body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.cnt1{
    display: flex;
    flex-wrap: wrap;
    
}
.cont{
    background-color: rgb(243, 243, 248);
    width:300px;
    height: 300px;
    text-align: left;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    
   
}
.cont ul{
    list-style: none;
    line-height: 30px;
    font-size: 20px;
    
     
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    gap:10px;
    width:100%;
    
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 6%, 97%);
    padding: 20px;
    
}

header {
     height: 100%;
    width: 100%;
    text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: hsl(231, 55%, 78%);
     padding:10px;
    
}
footer{
    height:fit-content;
    width:100%;
    text-align: center;
    background-color: hsl(231, 55%, 78%);
    padding: 10px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a:hover{
    font-size: 20px;
    color:blue;
}
a{
    text-decoration: none;
    color:black;
}
.material-symbols-outlined{
    color:yellow;
    
}
.m1{
    width: 300px;
    height: 300px;
    background-color: rgb(107, 126, 212);
    
    text-align: center;
    border-radius: 20px;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
    

}
.m1:hover{
background-color: rgb(227, 229, 238);
box-shadow: 2px 2px 2px;
}
img{
    width: 270px;
    height:180px;
    
    margin-top: 10px;
    

    
}
img:hover{
    background-color: rgb(135, 168, 72);

}
button{
    background-color: black;
    color: rgb(240, 247, 247);
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    font-family: monospace;
    
}
button:hover{
    background-color:rgb(51, 48, 48) ;
}
.back{
    text-align: center;
    padding:5px;
    background-color: rgb(250, 249, 247);
    width:100%;
    
    

}
.container p{
    color:black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
